<div class="wrap">
  <div class="row">
    <label>Username</label>
    <input 
      ngModel
      name="username"
      id="username"
      type="text" 
      value=""
      #username="ngModel"
      autocomplete="off"
      formatCheck
    />
    <small class="message"  >
      <ng-template [ngIf]="username.errors && (username.dirty || username.touched)">
        <p class="error" *ngIf="username.errors.required">
          Username is required
        </p>
        <p class="error" *ngIf="username.errors.tooShort">
          Username must be at least 4 characters long.
        </p>
        <p class="error" *ngIf="username.errors.illegalChars">
          Invalid format. Special characters are not allowed.
        </p>
        <p class="error" *ngIf="username.errors.isTaken">
          This username is already taken.
        </p>
        <p class="error" *ngIf="username.errors.onlyNumbers">
          Username must also contain letters.
        </p>
      </ng-template>
    </small>
  </div>
  <div class="row">
    <label>E-mail</label>
    <input type="text" value=""/>
    <small class="message">test</small>
  </div>
</div>